* {
  box-sizing: border-box !important;
}

html, body {
  width: 430px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease; /* Добавили сюда плавность */
}

#root {
  height: 100%;
}

body.light-theme {
  background-color: #f0f2f5;
}

body.dark-theme {
  background-color: #1e1e1e;
}
